Prabhendra Singh
Chapter: 20th Aug 2023
Assignment - 2

#TOPIC: String Based Assignment Problem

1. Write a program to reverse a string

In [1]:
#Solution

string = input("Enter a Text to reverse:")

string_reverse = string[::-1]

print("Reverse of your text is",string_reverse)

Enter a Text to reverse: Jitendar

Reverse of your text is radnetiJ

2. Check if a string is a palindrome.

In [3]:
#Solution

text = input('Enter the text to check palindrome')

reverse_slicing = text[::-1]

if text == reverse_slicing:
           print("It is Palindrome")
else:
           print("It is not a Palindrome")

Enter the text to check palindrome hello

It is not a Palindrome

3. Convert a string to uppercase.

In [1]:
#Solution

text = input("Enter a text to convert it into Uppercase")

uppercase = text.upper()

print(f"Conversion after Uppercase",uppercase)

Enter a text to convert it into Uppercase pwskills

Conversion after Uppercase PWSKILLS

4. Convert a string to lowercase.

In [3]:
#Solution

text = input("Enter a text to convert it lowercase")

lowercase = text.lower()

print("Text after conversion", lowercase)

Enter a text to convert it lowercase POOL IS BETTER

Text after conversion pool is better

5. Count the number of vowels in a string.

In [12]:
#Solution

text = input("enter a text to count vowels:")

input_lower = text.lower()

vowel = 'a','e','i','o','u'

count = 0

for char in input_lower:
    if char in vowel:
        count = count + 1
print("Total number of vowels are:",count)

enter a text to count vowels hello world  welcome me

Total number of vowels are: 7

6. Count the number of consonants in a string

In [19]:
text = input("enter a text to count vowels:")

input_lower = text.lower()

consonant = 'b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','v','w','x','y','z'

count = 0

for char in input_lower:
    if char in consonant:
        count = count + 1
print('Total vowel count is:',count)

enter a text to count vowels: I am coming world

Total vowel count is: 9

7. Remove all whitespaces from a string.

In [1]:
def white(string):
    return string.replace(" ","")

white("hello world is poor as pw")

'helloworldispooraspw'

8. Find the length of a string without using the `len()` function.

In [44]:
text = input("enter a text to  count length:")

count = 0

for char in text:
    count = count + 1
print("Total length of string",count)

enter a text to  count length: length and width both matters

Total length of string 29

9. Check if a string contains a specific word.

In [48]:
input_str = input('enter a text:')
input_check = input('enter the word you are looking for:')

if input_check in input_str:
    print('It contains specific word',(input_check))
else:
    print('It not contains specific word')

enter a text: good is better then best
enter the word you are looking for: best

It contains specific word best

10. Replace a word in a string with another word.

In [2]:
#Solution:

sentance = input("Enter a sentance ")

old_word = input("enter the old word ")
new_word = input("enter the new word to replace ")


new_sentance = sentance.replace(old_word,new_word)

print("Sentance after modification",new_sentance)

Enter a sentance  hello world
enter the old word  world
enter the new word to replace  India

Sentance after modification hello India

11. Count the occurrences of a word in a string.

In [19]:
def occurance(a,b):
    count = 0
    words = a.split()
    
    for i in words:
        if i == b:
            count = count + 1
    return count

a = "hello world hello India"
b = "hello"

r = occurance(a,b)

print(r)

2

12. Find the first occurrence of a word in a string.

In [12]:
def occurance(text,word):
    words = text.find(word)
    if words == -1:
        return None
    return words

In [14]:
text = input("Enter a sentance to know its first occurance")
word=input("Word too Count occurance")
result = occurance(text,word)
print(result)

Enter a sentance to know its first occurance how is my world
Word too Count occurance is

4

13. Find the last occurrence of a word in a string.

In [15]:
def occurance(text,word):
    words = text.rfind(word)
    if words == -1:
        return None
    return words

In [24]:
text = input("Enter a sentance to know its first occurance")
word=input("Word too Count occurance")
result = occurance(text,word)
print("your result",result)

Enter a sentance to know its first occurance hello is heloo
Word too Count occurance is

your result 6

14. Split a string into a list of words.

In [20]:
def spliting(text):
    words = text.split()
    return words

In [23]:
text = input("input a string to split")
result = spliting(text)
print("your result after split",result)

input a string to split hello how is your day

your result after split ['hello', 'how', 'is', 'your', 'day']

15. Join a list of words into a string.

In [25]:
def joiner(text):
    li_word = " ".join(text)
    return li_word

In [28]:
text = ["how","is","weather","today"]
result = joiner(text)
print("your result after join: ",result)

your result after join:  how is weather today

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [1]:
def unders(text):
    word = text.replace(" ","_")
    return word

In [2]:
text = input("enter a text using space: ")
result = unders(text)
print(result)

enter a text using space:  hello dear

hello_dear_

17. Check if a string starts with a specific word or phrase.

In [10]:
def starting(text,prefix):
    word = text.startswith(prefix)
    return word

In [19]:
text = input("enter a sentance: ")
prefix = input("Enter prefix to check: ") 
result = starting(text,prefix)
if result:
    print('it starts with prefix')
else:
    print('it not stat with prefix')

enter a sentance:  how waas your day dear
Enter prefix to check:  how

it starts with prefix

18. Check if a string ends with a specific word or phrase.

In [20]:
def starting(text,sufix):
    word = text.endswith(sufix)
    return word

In [21]:
text = input("enter a sentance: ")
sufix = input("Enter prefix to check: ") 
result = starting(text,sufix)
if result:
    print('it starts with sufix')
else:
    print('it not stat with sufix')

enter a sentance:  how long you use to code
Enter prefix to check:  code

it starts with sufix

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [27]:
def tit(wor):
    return wor.title()

In [29]:
wor = "money is love"
result = tit(wor)
print("After title case: ",result)

After title case:  Money Is Love

20. Find the longest word in a string.

In [36]:
def longer(long):
    word = long.split()
    
    longest_word = None
    max_length = 0
    
    for char in word: #AFTER SPLITING INTO word Component
        if len(char) > max_length: 
            max_length = len(char)
            longest_word = char
    return longest_word

In [39]:
long = input("enter a sentance to check longest word in it")
result = longer(long)
print(result)

enter a sentance to check longest word in it hello abrakadabra

abrakadabra

21. Find the shortest word in a string.

In [2]:
def shortest(text):
    words = text.split()
    min_length = float('inf')
    small_word = None
    
    for char in words:
        if len(char) < min_length:
            
            min_length = len(char)
            shortest_word = char
    
    return shortest_word

In [3]:
text = input("Enter a sentance to check smallest word: ")
result = shortest(text)
print("Shortest word is : ",result)

Enter a sentance to check smallest word:  hello, he is a good man

Shortest word is :  a

22. Reverse the order of words in a string.

In [5]:
def reverse(text):
    return text[::-1]

In [9]:
text = input("enter a sentance to make it reverse order: ")
reverse(text)

enter a sentance to make it reverse order:  hello milky way

'yaw yklim olleh'

23. Check if a string is alphanumeric.

In [25]:
def alpha(text):
    return text.isalnum()

In [32]:
text = "How999"
result = alpha(text)
if result:
    print('it is a alphanumeric')
else:
    print('it is not a alphanumeric')

it is a alphanumeric

24. Extract all digits from a string.

In [16]:
def exdigi(text):
    digit = ''
    
    for char in text:
        if char.isdigit():
            digit += char
            
    return digit

In [18]:
text = "heis 34 jsk3l4n nfk40dc9n"
result = exdigi(text)
print(result)

3434409

25. Extract all alphabets from a string.

In [33]:
def exalpha(text):
    alpha = ''
    
    for char in text:
        if char.isalpha():
            alpha += cha r
    return alpha

In [34]:
text = "hello919planet00earth"
result = exalpha(text)
print(result)

helloplanetearth

26. Count the number of uppercase letters in a string.

In [1]:
def uppercase(text):
    count = 0
    for char in text:
        if char.isupper():
            count += 1
    return count

In [2]:
text = "hello I am Your Boss Daddy"
uppercase(text)

4

27. Count the number of lowercase letters in a string.

In [3]:
def lower(text):
    count = 0
    
    for char in text:
        if char.islower():
            count = count + 1
    return count

In [5]:
text = "how was your Day in Office"
lower(text)

19

28. Swap the case of each character in a string.

In [6]:
def sawaping(text):
    index = text.swapcase()
    return index

In [8]:
text = "HelloGaLaXY"
sawaping(text)

'hELLOgAlAxy'

29. Remove a specific word from a string.

In [43]:
def removal(instr,remstr):
    word = instr.split()
    filtered = []
    modified = []
    
    for char in word:
        if char != remstr:
            filtered.append(char)
            modified = ' '.join(filtered)
    return modified

In [44]:
instr = "hello ji helo"
remstr = "ji"
removal(instr,remstr)

'hello helo'

30. Check if a string is a valid email address

In [2]:
from urllib.parse import urlparse

def vaild_url(url):
    try:
        urlparse(url)
        return all([urlparse(url).scheme,urlparse(url).netloc])
    except ValueError:
        return False

In [3]:
url1 = 'https://www.google.com/maps'
url2 = 'inalid_vv'

res1 =  vaild_url(url1)
re2 =  vaild_url(url2)

print(res1)
print(re2)

True
False

31. Extract the username from an email address string.

In [54]:
def extrac(username):
    email = username.split('@')[0]  ###giving indexing also what to exract
    return email

In [55]:
username = "p786solot@gmail.com"
extrac(username)

'p786solot'

32. Extract the domain name from an email address string.

In [56]:
def extract(domain):
    email = domain.split("@")[1]
    return email

In [57]:
domain = "p786solot@gmail.com"
extract(domain)

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [58]:
def multi(space):
    clean = space.split()
    joiner = " ".join(clean)
    return joiner

In [59]:
space = "hi  how is  your    mommy"
multi(space)

'hi how is your mommy'

34. Check if a string is a valid URL.

In [1]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:  
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(f'It is valid url',result1)  # Should print True
print(result2)  # Should print False

It is valid url True
False

35. Extract the protocol (http or https) from a URL string.

In [8]:
from urllib.parse import urlparse

def extract_protocol(url):
        return urlparse(url).scheme

In [9]:
example_url = "https://www.example.com/path/to/resource"
protocol = extract_protocol(example_url)
print(protocol)  # Output: 'https

https

36. Find the frequency of each character in a string.

In [24]:
def frequency_char(string):
    freq_dict = {}
    
    for char in string:
        if char in freq_dict:
            freq_dict[char] += 1
        else:
            freq_dict[char] = 1
    return freq_dict

In [25]:
test = "hello world"
fre = frequency_char(test)
print(fre)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

37. Remove all punctuation from a string.

In [36]:
def remove_punch(string):
    
    panch = ', : ; . > <  ? / " '
    clean = ''
    
    for char in string:
        if char not in panch:
            clean += char
    return clean

In [37]:
c = "HI, How are You?"
re = remove_punch(c)
print(re)

HIHowareYou

38. Check if a string contains only digits.

In [41]:
def only_digit(string):
    return string.isdigit()

In [44]:
str1 = 'hello7877'
str2 = '9999'

re1 = only_digit(str1)
re2 =only_digit(str2)

print(re1)
print(re2)

False
True

39. Check if a string contains only alphabets.

In [45]:
def only_alpha(string):
    return string.isalpha()

In [46]:
str1 = 'hello7877'
str2 = 'RamRam'

re1 = only_alpha(str1)
re2 =only_alpha(str2)

print(re1)
print(re2)

False
True

40. Convert a string to a list of characters.

In [47]:
s = "Hello world"

list(s)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

41. Check if two strings are anagrams.

In [7]:
## we need to create 2 string so that we can 
# check or compare btwn them

def anagrams(str1,str2):
    
    hel1 = str1.replace(" ","").lower() #remove spcae and lowering text
    hel2 = str2.replace(" ","").lower()
    
    return sorted(str1) == sorted(str2) #sorting both compare

In [8]:
ex1 = "silent"
ex2 = "listen"
ex4 = "prabhu"
ex5 = "ram"

re1 = anagrams(ex1, ex2)
re2 = anagrams(ex4,ex5)

print(f"Silent and listen It is a anagrams: ",re1)
print(f"prabhu and ram It is a anagrams: ",re2)

Silent and listen It is a anagrams:  True
prabhu and ram It is a anagrams:  False

42. Encode a string using a Caesar cipher.

In [25]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

def cipher(plain_text,value_shift):
    caesar_cipher = ""
    for char in plain_text:
        position = alphabet.index(char)
        new_position = (position + value_shift)%26
        caesar_cipher+= alphabet[ new_position]
    print(caesar_cipher)
        
    

what_to_do = input("enter 'caesar' for changing it to caesar cipher:")
text = input("Enter the word")
shift = int(input("Enter number to shift"))

if what_to_do == "caesar":

    cipher(plain_text = text, value_shift = shift)

enter 'caesar' for changing it to caesar cipher: caesar
Enter the word xy
Enter number to shift 3

ab

43. Decode a Caesar cipher encoded string.

In [27]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

def cipher(plain_text,value_shift):
    caesar_cipher = ""
    for char in plain_text:
        position = alphabet.index(char)
        new_position = (position - value_shift)%26
        caesar_cipher+= alphabet[ new_position]
    print(caesar_cipher)
        
    

what_to_do = input("enter 'caesar' for changing it to caesar cipher:")
text = input("Enter the word")
shift = int(input("Enter number to shift"))

if what_to_do == "caesar":

    cipher(plain_text = text, value_shift = shift)

enter 'caesar' for changing it to caesar cipher: caesar
Enter the word a
Enter number to shift 1

z

44. Find the most frequent word in a string.

In [4]:
def find_most_frequent_word(text):
    words = text.split()
    count_store = {}
    
    for word in words:
        if word in count_store:
            count_store[word] = count_store[word] + 1
        else:
            count_store[word] = 1
    most_freq_word = max(count_store, key = count_store.get)
    return most_freq_word

In [5]:
text = "The quick brown fox jumps over the lazy dog. The dog is very lazy."
s = find_most_frequent_word(text)
print(s)

The

45. Find all unique words in a string.

In [40]:
def unique_words(n):
    words= n.lower()
    split = words.split()
    uq =set(split)
    
    return uq

#Example

n = "hello world this is me hello again world"

a = unique_words(n)
print(a)

{'again', 'is', 'this', 'world', 'hello', 'me'}


46. Count the number of syllables in a string.

In [11]:
import re
def count_syllables(word):
    
    vowel_grp = re.findall(r'[aeioiuy]+',word,re.IGNORECASE)
    return len(vowel_grp)

#example

word1 = "helloy"
s = count_syllables(word1)
print(s)

2

47. Check if a string contains any special characters

In [17]:
import re

def check_special(text):
    if re.search(r'[!@#$%^&*(),.?":{}|<>]',text):
        return True
    else:
        return False

    
text1 = "hello!"
text2 = "I am a god's kid"
text3 = "i am good"

c = check_special(text1)
b = check_special(text2)
a = check_special(text3)

print(text1,':',a)
print(text2,':',b)
print(text3,':',c)

hello! : False
I am a god's kid : False
i am good : True

48. Remove the nth word from a string.

In [15]:
def removal_n(text,n):
    word = text.split()
    if n>=1 and n <= len(word):
        
        remove_word = word.pop(n-1)
    
        modified_string = ' '.join(word)
    
        return modified_string, remove_word
    else:
        return None, None

# Example
    
n=4    
s = removal_n("This is an example sentence to test the function.",4)
print(s)

('This is an sentence to test the function.', 'example')

49. Insert a word at the nth position in a string.

In [27]:
def postion_word_n(string,word,n):
    
    return string[:n] + word + string[n:]


string = "hello world i am codder"
word = " loving "
n = 5

s = postion_word_n(string,word,n)



print(s)

hello fucking  world i am fucking codder

50. Convert a CSV string to a list of lists.

In [3]:
def csv_list_to_list(csv_string):
    lines = csv_string.split('/n')
    result = []
    
    for line in lines:
        field = line.split(',')
        result.append(field)
    return result

# Example

csv_example = "Name,Place,Age,/nRam,Rajasthan,24/nSita,Ayodhya,23/nHari,72,Vrindavan"

csv =  csv_list_to_list(csv_example)

for i in csv:
    print(i)

['Name', 'Place', 'Age', '']
['Ram', 'Rajasthan', '24']
['Sita', 'Ayodhya', '23']
['Hari', '72', 'Vrindavan']

##List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [9]:
listing = [i for i in range(1,11)]

print(listing)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [15]:
def length_of_list(variable):
    count = 0
    
    for i in variable:
        count += 1
    return count

# example

example_vari = [1,2,3,4,4,5]

length_of_list(example_vari)

print("Length of the list is : ",length_of_list(example_vari))

Length of the list is :  6

3. Append an element to the end of a list.

In [3]:
pre_list = [1,2,3,4,5,6,8]

new_value = 40

pre_list.append(new_value)

print("Updated list is: ", pre_list)

Updated list is:  [1, 2, 3, 4, 5, 6, 8, 40]

4. Insert an element at a specific index in a list.

In [4]:
pre_list = [1,2,3,4,5,6,8]

new_value = 40

position = 3 

pre_list.insert(position,new_value)

print('new specific index list is', pre_list)

new specific index list is [1, 2, 3, 40, 4, 5, 6, 8]

5. Remove an element from a list by its value.

In [11]:
pre_list = [1,2,3,4,5,6,8]

remove_element = 5

r = pre_list.remove(remove_element)

print("New updated list is :", pre_list)

New updated list is : [1, 2, 3, 4, 6, 8]

6. Remove an element from a list by its index.

In [12]:
pre_list = [10,20,30,40,50,60,80]

remove_by_index = 2

r = pre_list.pop(remove_by_index)

print("New updated list is :",pre_list)
print('Removed element is:', r)

New updated list is : [10, 20, 40, 50, 60, 80]
Removed element is: 30

7. Check if an element exists in a list.

In [14]:
pre_list = [10,20,30,40,50,60,80]

check_element = 20

if check_element in pre_list:
    print("Yes element exist in list : ",check_element)
else:
    print("No element no exist in list",check_element)

Yes element exist in list :  20

8. Find the index of the first occurrence of an element in a list.

In [16]:
pre_list = [10,20,30,40,50,60,80]

element_occurance = 50

r = pre_list.index(element_occurance)

print(f"The index of {element_occurance} is {r}")

The index of 50 is 4

9. Count the occurrences of an element in a list.

In [25]:
pre_list = [10,20,30,40,50,60,80,40,50,80,90,20,50]

occurance = 50

counting = pre_list.count(occurance)


print(f"The element {occurance} occurance in list is {counting} ")

The element 50 occurance in list is 3

10. Reverse the order of elements in a list.

In [26]:
pre_list = [10,20,30,40,50,60,80,40,50,80,90,20,50]

pre_list[::-1]

[50, 20, 90, 80, 50, 40, 80, 60, 50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [30]:
pre_list = [10,20,30,40,50,60,80,40,50,80,90,20,50]

pre_list.sort()

print("The sorted list in ascending order is :", pre_list )

The sorted list in ascending order is : [10, 20, 20, 30, 40, 40, 50, 50, 50, 60, 80, 80, 90]

12. Sort a list in descending order.

In [34]:
pre_list = [10,20,30,40,50,60,80,40,50,80,90,20,50]

pre_list.sort(reverse=True)

print("The list after descending order is ", pre_list)

The list after descending order is  [90, 80, 80, 60, 50, 50, 50, 40, 40, 30, 20, 20, 10]

13. Create a list of even numbers from 1 to 20.

In [51]:
x = [i for i in range(2,21,2)]

print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [57]:
x = [i for i in range(1,21,2)]
print(x)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [61]:
listing = [10,20,30,40,50,60,80,40,50,80,90,20,50]

r = sum(listing)

print("Total sum of list is : ",r)

Total sum of list is :  620

16. Find the maximum value in a list.

In [62]:
listing = [10,20,30,40,50,60,80,40,50,80,90,20,50]

r = max(listing)

print("Maxium value in the list is :", r)

Maxium value in the list is : 90

17. Find the minimum value in a list.

In [63]:
listing = [10,20,30,40,50,60,80,40,50,80,90,20,50]

r = min(listing)

print("Minimum value in the list is :",r)

Minimum value in the list is : 10

18. Create a list of squares of numbers from 1 to 10.

In [71]:
s = [i**2for i in range(1,11)]

print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [78]:
import random

random_num = [random.randint(1,50) for i in range(10)]

print(random_num)

[21, 17, 33, 29, 25, 33, 47, 8, 28, 20]

20. Remove duplicates from a list.

In [80]:
listing = [10,20,30,40,50,60,80,40,50,80,90,20,50]


unique_list = list(set(listing))

print("The List after removing duplicates is : ", unique_list)

The List after removing duplicates is :  [40, 10, 80, 50, 20, 90, 60, 30]

21. Find the common elements between two lists.

In [10]:
def common_elements(list1,list2):
    
    set1 = set(list1)
    set2 = set(list2)
    
    common = set1.intersection(set2)
    
    return list(common)

#example

l1 = [2,4,7,3,8,0,3,5]
l2 = [2,5,7,2,3,8,9,5]

s = common_elements(l1,l2)
print("common elements in list1 and list2 is :",s)

common elements in list1 and list2 is : [2, 3, 5, 7, 8]

22. Find the difference between two lists.

In [11]:
def diffrence_elements(list1,list2):
    
    set1 = set(list1)
    set2 = set(list2)
    
    diffrence = set1.difference(set2)
    
    return list(diffrence)

l1 = [2,4,7,3,8,0,3,5]
l2 = [2,5,7,2,3,8,9,5]

s = diffrence_elements(l1,l2)
print("Diffrence elements in list1 and list2 is :",s)

Diffrence elements in list1 and list2 is : [0, 4]

23. Merge two lists.

In [14]:
def merge_list(list1,list2):
   
    merge = list1 + list2
    
    return list(merge)

l1 = [2,4,7,3,8,0,3,5]
l2 = [2,5,7,2,3,8,9,5]

s = merge_list(l1,l2)
print("After merge elements in list1 and list2 is :",s)

After merge elements in list1 and list2 is : [2, 4, 7, 3, 8, 0, 3, 5, 2, 5, 7, 2, 3, 8, 9, 5]

24. Multiply all elements in a list by 2.

In [1]:
my_list = [2,4,7,8,9]

multiply = [i*2 for i in my_list]

print("Elements of list after multiplication",multiply)

Elements of list after multiplication [4, 8, 14, 16, 18]

25. Filter out all even numbers from a list.

In [12]:
def filter_even_num(number):
    
    
    return [i for i in number if i %2 ==0]

#Examples
l1 = [2,4,5,2,534,5,42,3,32]
s = filter_even_num(l1)

print("Filtered number of even number",s)

Filtered number of even number [2, 4, 2, 534, 42, 32]

26. Convert a list of strings to a list of integers.

In [1]:
string_list = ['12','43','5','4','4']

convert = [int(i) for i in string_list ]

print("String list after conversion is:",convert)

String list after conversion is: [12, 43, 5, 4, 4]

27. Convert a list of integers to a list of strings.

In [2]:
list_intiger = [23,335,544,5,3,32]

convert = [str(i) for i in list_intiger]

print("List of integer after conversion to string is :", convert)

List of integer after conversion to string is : ['23', '335', '544', '5', '3', '32']

28. Flatten a nested list.

In [5]:
## Refrence
#nested_list=[[1,2,3],[4,5,6],[7,8,9]]
#flattened_list=[1,2,3,4,5,6,7,8,9

def flatten_list(nested):
    flatten = []
    for sublist in nested:
        if isinstance(sublist,list):
            flatten.extend(flatten_list(sublist))
        else:
            flatten.append(sublist)
    return flatten

#example:

l1 = [[1,2,3],[7,8],[5,4,7,9,7]]

x=flatten_list(l1)

print("New flattened list is : ",x)

New flattened list is :  [1, 2, 3, 7, 8, 5, 4, 7, 9, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [8]:
def fibonacci(n):
    fibna = [0,1]
    for i in range (2,n):
        next_fibna = fibna[i-1]+fibna[i-2]
        fibna.append(next_fibna)
    return fibna

#example
x = fibonacci(10)        

print("The first 10 Fibnoacci numbers are :",x)

The first 10 Fibnoacci numbers are : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [6]:
def sorted_list(lst):
    for i in range(1 , len(lst)):
        if lst[i]<lst[i-1]:
            return False
    return True

#Example:
ls = [4,3,6,2,6]
if sorted_list(ls):
    print("list is sorted")
else:
    print("list is not sorted")

list is not sorted

31. Rotate a list to the left by `n` positions.

In [3]:
def roatate_left(lst,n):
    n = n % len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated
#exmaple

l1 = [2,3,4,5,6]
n = 3

rotatedlist = roatate_left(l1,n)
print(rotatedlist)

[5, 6, 2, 3, 4]

32. Rotate a list to the right by `n` positions.

In [4]:
def roatate_right(lst,n):
    n = n % len(lst)
    rotated = lst[-n:] + lst[:-n]
    return rotated
#exmaple

l1 = [2,3,4,5,6]
n = 3

rotatedlist = roatate_right(l1,n)
print(rotatedlist)

[4, 5, 6, 2, 3]

33. Create a list of prime numbers up to 50.

In [3]:
def check_prime(n):
    if n < 2 :
        return False
    for i in range(2 , int((n**0.5) + 1)):
        if n % i == 0:
            return False
    return True
prime_number  =  [i for i in range(2,51) if check_prime(i)]
print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [9]:
def chunk_list(lst,n):
    free_list = []
    for i in range(0,len(lst),n):
        free_list.append(lst[i:i+n])
    return free_list
#example:

l1 = [1,2,3,4,5,6,7,8,9]
cpl  = 3
output  = chunk_list(l1,cpl)
print(output)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [3]:
my_list = [2,4,62,44,38,35]

second_list = sorted(set(my_list))
if len(second_list) >= 2:
    second_number = second_list[-2]
    print("the second largest number is",second_number)
else:
    print("There is no second largest number")

the second largest number is 44

36. Replace every element in a list with its square.

In [3]:
my_list = [2,4,5,6,7,8,9]

Squre_list = [x**2 for x in  my_list] 

print("Squared List is:",Squre_list)

Squared List is: [4, 16, 25, 36, 49, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [10]:
my_list = ["Ram","Sita","Rahul","Sunny"]
dict_list = {element: index for index , element in enumerate(my_list)}
print(dict_list)

{'Ram': 0, 'Sita': 1, 'Rahul': 2, 'Sunny': 3}

38. Shuffle the elements of a list randomly.

In [13]:
import random

my_list = [23,45,67,98,445,52,13]

random.shuffle(my_list)

print(my_list)

[45, 23, 67, 445, 98, 13, 52]

39. Create a list of the first 10 factorial numbers.

In [14]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n*factorial(n-1)
    
#EX

factorial_numbers = [factorial (i) for i in range (10)]
print("First 10 Factorial Numbers are:",factorial_numbers)

First 10 Factorial Numbers are: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [3]:
def check_commomn(l1,l2):
    for i in l1:
        if i in l2:
            return True
    return False

#EX
l1 = [2,4,5,6,8,7,9]
l2 = [0,1]
if check_commomn(l1,l2):
    print("there is common value")
else:
    print("nothing is common")

nothing is common

41. Remove all elements from a list.

In [4]:
my_list = [2,3,4,5,6,7]
my_list.clear()
print('list after clearance is:', my_list)

list after clearance is: []

42. Replace negative numbers in a list with 0.

In [9]:
my_list = [-23,-45-98,56,76,88]

for i in range (len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print(my_list)

[0, 0, 56, 76, 88]

43. Convert a string into a list of words.

In [10]:
string_sentance = "hello world i am coming wait to see the future"
my_list = string_sentance.split()

print("String after converted into a list of words:",my_list)

String after converted into a list of words: ['hello', 'world', 'i', 'am', 'coming', 'wait', 'to', 'see', 'the', 'future']

44. Convert a list of words into a string.

In [11]:
my_list = ['hello', 'world', 'i', 'am', 'coming', 'wait', 'to', 'see', 'the', 'future']
string_sentance = " ".join(my_list)

print("List of words into a string will be:",string_sentance)

List of words into a string will be: hello world i am coming wait to see the future

45. Create a list of the first `n` powers of 2.

In [15]:
n = 10
power_list = []
for i in range(n):
    power_list.append(i**2)

print("power list is:",power_list)

power list is: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

46. Find the longest string in a list of strings.

In [19]:
my_list = ["Ram","Sita","Rahul","Sunny","Krishna","Radhey"]
longest_str = ""
for i in my_list:
    if len(i)>len(longest_str):
        longest_str = i
        
print("remmember always longest string is:",longest_str)

remmember always longest string is: Krishna

47. Find the shortest string in a list of strings.

In [23]:
my_list = ["Ram","Sita","Rahul","Sunny","Krishna","Radhey"]
longest_str = my_list[0]
for i in my_list:
    if len(i)<len(longest_str):
        longest_str = i
        
print("remmember always shortest string is:",longest_str)

remmember always shortest string is: Ram

48. Create a list of the first `n` triangular numbers.

In [28]:
def triangular_list(n):
    return [i * (i + 1) // 2 for i in range(1,n+1)]
#ex:
n = 6
tri = triangular_list(n)
print(tri)

[1, 3, 6, 10, 15, 21]

49. Check if a list contains another list as a subsequence.

In [34]:
def subsequence(subsequence_list,main_list):
    free_list = 0
    for i in main_list:
        if i == subsequence_list[free_list]:
            free_list += 1
            if free_list  == len(subsequence_list):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence_list = [3, 5, 8]

if subsequence(subsequence_list,main_list):
    print("List contains another list")
    
else:
    print("list is diffrent")

List contains another list

50. Swap two elements in a list by their indices.

In [41]:
my_list = [1,2,3,4,5,6,7]
index1 = 1
index2 = 4
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("my list after swap two elemnts",my_list)

my list after swap two elemnts [1, 5, 3, 4, 2, 6, 7]

##Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [1]:
tuple_int = (1,2,3,4,5)
print(tuple_int)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [4]:
tuple_int = (1,2,3,4,5)

third_element = tuple_int[2]
print("Third elemnt in tuple is:",third_element)

Third elemnt in tuple is: 3

3. Find the length of a tuple without using the `len()` function.

In [6]:
tuple_int = (1,2,3,4,5)

count = 0 

for _ in tuple_int:
    count+=1
print("the lengeth of tuple is",count)

the lengeth of tuple is 5

4. Count the occurrences of an element in a tuple.

In [4]:
tuple_int = (1,2,3,4,5,3,4,5,6,3,3,4)
element_count = 3
occurance = 0

for i in tuple_int:
    if i == element_count:
        occurance +=1
print(f"the occurnace of element {3} is {occurance} times" )

the occurnace of element 3 is 4 times

5. Find the index of the first occurrence of an element in a tuple.

In [3]:
tuple_int = (1,2,3,4,5)
idex = tuple_int.index(4)
print(f"the index of 4 is {idex} in tuple list in order to counting starts from zero.")

the index of 4 is 3 in tuple list in order to counting starts from zero.

6. Check if an element exists in a tuple.

In [6]:
tuple_int = (1,2,3,4,5)

element_check = 4

if element_check in tuple_int:
    print(f"Element 4 exist in the tuple list")
    
else: 
    print("element does not exit")

Element 4 exist in the tuple list

7. Convert a tuple to a list.

In [10]:
print(my_list)
print(tuple_int)
#type(tuple_int)

my_list = list(tuple_int)
#type(my_list)

print(my_list)
print(tuple_int)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

8. Convert a list to a tuple.

In [19]:
my_list = [1,2,3,4,5,6,7,8,9,0]


my_tuple = tuple(my_list)

print("Tuple :",my_tuple)
print("List :",my_list)

Tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
List : [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

9. Unpack the elements of a tuple into variables.

In [20]:
tuple_element = (1,2,3)

var1,var3,var2 = tuple_element
print("Variable 1 :",var1)
print("Variable 2 :",var3)
print("Variable 3 :",var2)

Variable 1 : 1
Variable 2 : 2
Variable 3 : 3

10. Create a tuple of even numbers from 1 to 10.

In [21]:
even_numeber_list = [num for num in range (2,11,2)]

my_tuple = tuple(even_numeber_list)

print("List of tuple with even number is :",even_numeber_list)

List of tuple with even number is : [2, 4, 6, 8, 10]

11. Create a tuple of odd numbers from 1 to 10.

In [24]:
odd_numberf_list = [shreya for shreya in range(1,11,2)]

print("List of tuple with odd number is :",tuple(odd_numberf_list))

List of tuple with odd number is : (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [28]:
t1  = [shreya for shreya in range (1,11,2)]
t2 = [shreya for shreya in range(2,11,2)]
sexy = tuple(t1)+tuple(t2)
print("concatenate of two tuple t1 and t2 will be:",sexy)

concatenate of two tuple t1 and t2 will be: (1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

13. Repeat a tuple three times.

In [29]:
t1 = (1,2,3,4,5,6)
repeated_tuple = t1*3

print("Tuple after repeat 3 times:",repeated_tuple)

Tuple after repeat 3 times: (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

14. Check if a tuple is empty.

In [31]:
t1 = ()
t2 = (1,2,3,4)

if not t1:
    print("the t1 tuple list is empty")
else:
    print("the t1 tuple list is not empty")
    

if not t2:
    print("the t2 tuple list is empty")
else:
    print("the t2 tuple list is not empty")

the t1 tuple list is empty
the t2 tuple list is not empty

15. Create a nested tuple.

In [2]:
my_tuple = ((1,2,3),('a','b','c'),(True,False))

print("The nested tuple is:",my_tuple)

The nested tuple is: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [4]:
my_tuple = ((1,2,3),('a','b','c'),(True,False))

first_elemet = my_tuple[0]

print("The first element in a nested tuple is:", first_elemet)

The first element in a nested tuple is: (1, 2, 3)

17. Create a tuple with a single element.

In [6]:
single_tuple = (23,)

print("single tuple is",single_tuple)

single tuple is (23,)

18. Compare two tuples.

In [7]:
t1 = (1,2,3)
t2 = (2,3,4)

print("t1 == t2",t1==t2)
print("t1 > t2",t1 > t2)
print("t1 < t2",t1 < t2)
print("t1 >= t2",t1 >= t2)
print("t1<=t2",t1 <= t2)
print("t1 != t2",t1 != t2)

t1 == t2 False
t1 > t2 False
t1 < t2 True
t1 >= t2 False
t1<=t2 True
t1 != t2 True

19. Delete a tuple.

In [10]:
t1 = (1,2,3)
print(t1)

(1, 2, 3)

In [11]:
del t1
print(t1)

NameError: name 't1' is not defined

20. Slice a tuple.

In [6]:
my_tuple = (1,2,3,4,5,6,7,8,9,0)

slice_tuple = my_tuple[4:8]

print("tuple after sliced:",slice_tuple)

tuple after sliced: (5, 6, 7, 8)

21. Find the maximum value in a tuple.

In [7]:
my_tuple = (1,2,3,4,5,6,7,8,9,0)

maximum_tuple = max(my_tuple)

print("the naximum value is:",maximum_tuple)

the naximum value is: 9

22. Find the minimum value in a tuple.

In [8]:
my_tuple = (1,2,3,4,5,6,7,8,9,0)

minimum_tuple  = min(my_tuple)
print("the minimum value is:",minimum_tuple)

the minimum value is: 0

23. Convert a string to a tuple of characters.

In [9]:
my_str = "I love u shreya"

characters_tuple = tuple(my_str)

print("the tuple in string characters is:",characters_tuple)

the tuple in string characters is: ('I', ' ', 'l', 'o', 'v', 'e', ' ', 'u', ' ', 's', 'h', 'r', 'e', 'y', 'a')

24. Convert a tuple of characters to a string.

In [10]:
my_tuple = ('I', ' ', 'l', 'o', 'v', 'e', ' ', 'u', ' ', 's', 'h', 'r', 'e', 'y', 'a')

string = "".join(my_tuple)

print("tuple of characters to a string is :",string)

tuple of characters to a string is : I love u shreya

25. Create a tuple from multiple data types.

In [11]:
diff_tuple = (23,2.3,True,"shreya")

print("tuple with multiple data types:",diff_tuple)

tuple with multiple data types: (23, 2.3, True, 'shreya')

26. Check if two tuples are identical.

In [13]:
t1 = (1,2,3)
t2 = (1,2,3)
t3 = (4,5,6)

ide1 = t1 == t2
ide2 = t1 == t3

print("t1 and t2 tuple are identical:",ide1)
print("t1 and t3 tuple are identical:",ide2)

t1 and t2 tuple are identical: True
t1 and t3 tuple are identical: False

27. Sort the elements of a tuple.

In [14]:
unsorted_tuple = (2,0,9,6,4,1)

sorted_tuple = sorted(unsorted_tuple)

print("tuple after sorted is :",sorted_tuple)

tuple after sorted is : [0, 1, 2, 4, 6, 9]

28. Convert a tuple of integers to a tuple of strings.

In [22]:
tuple_of_intigers = (1,2,3,4,5)

tuple_string = [str(shreya) for shreya in tuple_of_intigers]

print("string of intiger tuple is :",tuple(tuple_string))

string of intiger tuple is : ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [23]:
tuple_string = ('1', '2', '3', '4', '5')

tuple_intigers = [int(shreya) for shreya in tuple_string]

print("tuple string of tuple intiger is :",tuple_of_intigers)

tuple string of tuple intiger is : (1, 2, 3, 4, 5)

30. Merge two tuples.

In [24]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,0)

mergeing_tuple = t1 + t2 

print("Two tuple t1 and t2 after merge will be : ", mergeing_tuple)

Two tuple t1 and t2 after merge will be :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

31. Flatten a nested tuple.

In [27]:
def flatten_nested(value):
    flatted = []
    
    for shreya in value:
        if isinstance(shreya,tuple):
            flatted.extend(flatten_nested(shreya))
            
        else:
            flatted.append(shreya)
    return flatted

#example:

value1 = ((1,2),(3,4),(5,6))

result = flatten_nested(value1)

print("Flatted a nested tuple is:",tuple(result))

Flatted a nested tuple is: (1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [26]:
def is_prime(num):
    if num<=1 :
        return False
    for i in range(2,int(num**0.5),+1):
        if num % i  == 0 :
            return False
    return True

#example:

prime_ist = [num for num in range(2,100) if is_prime(num)][:5]

print("First 5 prime numbers in tuple will be:",tuple(prime_ist))

First 5 prime numbers in tuple will be: (2, 3, 4, 5, 6)

33. Check if a tuple is a palindrome.

In [35]:
def is_palindrome(value):
    return value == value[::-1]

p1 = (1,2,"Ta ta","Ta ta",2,1)
p2 = (1,2,3,4,5)

check1 = is_palindrome(p1)
check2 = is_palindrome(p2)
print("1,2,Ta ta,Ta ta,1,2 this is a palindrome or not ?",check1)
print("1,2,3,4,5 this is a palindrome or not ?",check2)

1,2,Ta ta,Ta ta,1,2 this is a palindrome or not ? True
1,2,3,4,5 this is a palindrome or not ? False

34. Create a tuple of squares of numbers from 1 to 5.

In [37]:
squre_tuple = tuple(x**2 for x in range(1,6))

print(squre_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [41]:
org_tuple =(1,2,3,4,5,6,7,8,9,10)

even_tuple = tuple (num for num in org_tuple if num%2 != 0)

print('the list of even tuple is',even_tuple)

the list of even tuple is (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [47]:
All_elemnet = [1,2,3,4,5,6,7,8,9,10]

res = tuple(num*2 for num in All_elemnet)
print(f"{All_elemnet} All elements after multiply by 2 in tuples are {res}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] All elements after multiply by 2 in tuples are (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [3]:
import random

random_number = tuple(random.randint(1,100) for _ in range(10))

print("Random Number",random_number)

Random Number (35, 28, 51, 71, 37, 9, 44, 43, 98, 8)

38. Check if a tuple is sorted.

In [6]:
def tuple_sorted (tup):
    for i in range(len(tup)-1):
        if tup[i] > tup[i+1]:
            return False
    return True

sorted_tuple = (1,2,3,4,5)
unsorted_tuple =(3,4,5,2,1)

print("sorted tuple is sorted :",tuple_sorted(sorted_tuple))
print("unsorted tuple is unsorted :",tuple_sorted(unsorted_tuple))

sorted tuple is sorted : True
unsorted tuple is unsorted : False

39. Rotate a tuple to the left by `n` positions.

In [7]:
def my_tuple(n,tup):
    n = n%len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

#Exampel
n = 2
tup = (1,2,3,4,5,6)

res = my_tuple(n,tup)
print(res)

(3, 4, 5, 6, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [8]:
def my_tuple(n,tup):
    n = n%len(tup)
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

#Exampel
n = 2
tup = (1,2,3,4,5,6)

res = my_tuple(n,tup)
print(res)

(5, 6, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [12]:
def fibonacci(number):
    fibonacci_num = [0,1]
    while len(fibonacci_num) < number:
        next_num =fibonacci_num[-1] + fibonacci_num[-2]
        fibonacci_num.append(next_num)
    return tuple(fibonacci_num)

#example:

fibonacci_tuple = fibonacci(5)
print("Tuple of the first 5 Fibonacci number is:",fibonacci_tuple)

Tuple of the first 5 Fibonacci number is: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [15]:
input_str = input("enter elements seprted by comas ")

list_user = input_str.split(",")
tuple_user = tuple(list_user)
print(tuple_user)

enter elements seprted by comas  1,2,3,,4

('1', '2', '3', '', '4')

43. Swap two elements in a tuple.

In [4]:
def swap_element(my_tuple,index1,index2):
    element = list(my_tuple)
    element[index1],element[index2] = element[index2],element[index1]
    new_element = tuple(element)
    return new_element

#example:

t1 = (1,2,3,4,5)

swapping = swap_element(t1,2,4)
print(f"tuple before swap: {t1} & tuple after swap: {swapping}")

tuple before swap: (1, 2, 3, 4, 5) & tuple after swap: (1, 2, 5, 4, 3)

44. Reverse the elements of a tuple.

In [6]:
def reverse(t1):
    return tuple(t1[::-1])

#example:

t = (1,2,3,4,5)

re_tuple = reverse(t)
print(f"tuple before reverse: {t} & tuple after reverse: {re_tuple}")

tuple before reverse: (1, 2, 3, 4, 5) & tuple after reverse: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [8]:
n = 5
power_tuple = tuple(2**i for i in range(n))

print("tuple of the first n power of 2 is  :",power_tuple)

tuple of the first n power of 2 is  : (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [10]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

longest_tuple = max(string_tuple,key = len)
print("longest_tuple:",longest_tuple)

longest_tuple: watermelon

47. Find the shortest string in a tuple of strings.

In [11]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

longest_tuple = min(string_tuple,key = len)
print("longest_tuple:",longest_tuple)

longest_tuple: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [12]:
n =5
create = tuple((i*(i+1)//2 for i in range(1,n+1)))

print("triangluar number is :",create)

triangluar number is : (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [6]:
def subsequence(main_tuple,sub_tuple):
    
    if len(main_tuple)<len(sub_tuple):
        return False
    sub_index = 0
    for element in main_tuple:
        if sub_index < len(sub_tuple) and element == sub_tuple[sub_index]:
            sub_index += 1
        if sub_index == len(sub_tuple):
            return True
    return False
#example:

main_tuple = (1,2,3,4,5)
sub_tuple = (1,2,3)
res = subsequence(main_tuple,sub_tuple)
print("checking (1,2,3,4,5) is a subsequence tuple of (1,2,3) and it is: ",res)

checking (1,2,3,4,5) is a subsequence tuple of (1,2,3) and it is  True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [8]:
n = 20 

tuple_alternaating = tuple(i % 2 for i in range(n))

print("tuple alternating with 1s and 0s are :",tuple_alternaating)

tuple alternating with 1s and 0s are : (0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

##Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [10]:
r = set(range(1,6))

print(r)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [20]:
rv = {1,2,3}
print(rv)

element = 7
rv.add(element)

print(rv)

{1, 2, 3}
{1, 2, 3, 7}

3. Remove an element from a set.

In [22]:
rv = {1,2,3}
print(rv)

element = 2
rv.remove(element)
print(rv)

{1, 2, 3}
{1, 3}

4. Check if an element exists in a set.

In [24]:
set_element = {1,2,3,4,5,6,7,8,9,10}

checker = int(input("Enter the the digit to check weather it exist in set_elemnt"))

if checker in set_element:
    print("yes it exist")
    
else:
    print("no it do not exist")

Enter the the digit to check weather it exist in set_elemnt 5

yes it exist

5. Find the length of a set without using the `len()` function.

In [28]:
my_set = {1,2,3,4,5}

count = 0

for i in my_set:
    count +=1
    
print("length of set is :",count)

length of set is : 5

6. Clear all elements from a set.

In [29]:
my_set = {1,2,3,4,5}

print("my_set :",my_set)

clear = my_set.clear()

print("after clearing set :", my_set)

my_set : {1, 2, 3, 4, 5}
after clearing set : set()

7. Create a set of even numbers from 1 to 10.

In [37]:
blank_set = set()
for i in range(1,11):
    if i%2 == 0:
        blank_set.add(i)
print(blank_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [38]:
blank_set = set()
for i in range(1,11):
    if i%2 != 0:
        blank_set.add(i)
print(blank_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [41]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,0}

set3= set1.union(set2)

print("set1",set1)
print("set2",set2)
print("Union of set1 and set2",set3)

set1 {1, 2, 3, 4, 5}
set2 {0, 6, 7, 8, 9}
Union of set1 and set2 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

10. Find the intersection of two sets.

In [44]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

set3= set1.intersection(set2)

print("set1",set1)
print("set2",set2)
print("Intersection of set1 and set2",set3)

set1 {1, 2, 3, 4, 5}
set2 {3, 4, 5}
Intersection of set1 and set2 {3, 4, 5}

11. Find the difference between two sets.

In [45]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

set3= set1.difference(set2)

print("set1",set1)
print("set2",set2)
print("Diffrence of set1 and set2",set3)

set1 {1, 2, 3, 4, 5}
set2 {3, 4, 5}
Diffrence of set1 and set2 {1, 2}

12. Check if a set is a subset of another set.

In [59]:
set1 = {3,4,5}
set2 = {1,2,3,4,5}

set3= set1.issubset(set2)

print("set1",set1)
print("set2",set2)
print("Subset of set1 and set2:",set3)

set1 {3, 4, 5}
set2 {1, 2, 3, 4, 5}
Subset of set1 and set2: True

13. Check if a set is a superset of another set.

In [61]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

set3= set1.issuperset(set2)

if set3 :
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

In [65]:
list1 = [1,2,3,4,5]

set1 = set(list1)

print("list :" ,list1)
print("list to set :",set1)

list : [1, 2, 3, 4, 5]
list to set : {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [64]:
s1 = {1,2,3,4}

l1 = list(s1)

print("set:",s1)
print("set to list : ",l1)

set: {1, 2, 3, 4}
set to list :  [1, 2, 3, 4]

16. Remove a random element from a set.

In [4]:
import random

my_set = {1,2,3,4,5,6,7} 

print("Orignal Set :",my_set)

remove_random = random.choice(list(my_set))

my_set.remove(remove_random)

print("removing random element from my set is :",remove_random,"after remove element from my set :",my_set)

Orignal Set : {1, 2, 3, 4, 5, 6, 7}
removing random element from my set is : 5 after remove element from my set : {1, 2, 3, 4, 6, 7}

17. Pop an element from a set.

In [5]:
my_set = {1,2,3,4,5,6,7} 

print("Orignal Set :",my_set)

pop_element  = my_set.pop()

print("Item poped from set is :",pop_element)

print("set after po is : ", my_set)

Orignal Set : {1, 2, 3, 4, 5, 6, 7}
Item poped from set is : 1
set after po is :  {2, 3, 4, 5, 6, 7}

18. Check if two sets have no elements in common.

In [1]:
set1 = {1,2,3,4,5}
set2 = {1,5,3,4}

common_elements = set1.intersection(set2)

if not common_elements:
    print("There is no common elements")
    
else:
    print("the common elements are :",common_elements)

the common elements are : {1, 3, 4, 5}

19. Find the symmetric difference between two sets.

In [3]:
set1 = {1,2,3,4,5,6,7}
set2 = {3,2,8,9,0}

symmetric = set1 ^ set2

print("symmetric Diffrence :",symmetric)

symmetric Diffrence : {0, 1, 4, 5, 6, 7, 8, 9}

20. Update a set with elements from another set.

In [6]:
set1 = {1,2,3}

print("Set 1 :",set1)

set2 = {4,5,6}

print("Set 2 :",set2)

set1.update(set2)
print("new update value is :",set1)

Set 1 : {1, 2, 3}
Set 2 : {4, 5, 6}
new update value is : {1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [10]:
def is_prime(n):
    if n < 2:
        return False
    for i in  range(2,int(n**0.5) + 1):
        if n % i == 0:
            return True
    return False

prime_s = set()
num = 2

while len(prime_s) < 5 :
    if is_prime(num):
        prime_s.add(num)
    num += 1
        
print(prime_s)

{4, 6, 8, 9, 10}

22. Check if two sets are identical.

In [11]:
set1 = {1,2,3,4,5}
set2 = {5,4,1,2,3}

if set1 == set2  :
    print("Both are identical")
    
else:
    print("Both are not identical")

Both are identical

23. Create a frozen set.

In [12]:
elem = [1,2,3,4,5]

frozen_element =frozenset(elem)

print("Frozen set is :", frozen_element)

Frozen set is : frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [14]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

check_disjoint = set1.isdisjoint(set2)

print("Set a disjoint :",check_disjoint)

Set a disjoint : True

25. Create a set of squares of numbers from 1 to 5.

In [16]:
square = set()

for i in range(1,6):
    x = i**2
    square.add(x)
    
print(square)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [23]:
my_set = set(range(1,21))

empty_set = set()

for num in my_set:
    if num% 2==0:
        empty_set.add(num)
print("orignal set", my_set)
print("Filter out even from orignal set :", empty_set)

orignal set {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Filter out even from orignal set : {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

27. Multiply all elements in a set by 2.

In [27]:
my_set = set(range(1,10))

multiply_set = set()

for i in my_set:
    x = i*2
    multiply_set.add(x)
    
print("Orignal_set",my_set)
print("Set after mutilpied by 2 is :",multiply_set)

Orignal_set {1, 2, 3, 4, 5, 6, 7, 8, 9}
Set after mutilpied by 2 is : {2, 4, 6, 8, 10, 12, 14, 16, 18}

28. Create a set of random numbers.

In [29]:
import random

num_random  = 10
my_set = set()

for i in range(num_random):
    ran = random.randint(1,100)
    my_set.add(ran)
    
print(my_set)

{2, 66, 4, 67, 11, 12, 44, 78, 18, 90}

29. Check if a set is empty.

In [30]:
my_set = set()

if not my_set:
    print("the set is empty")
    
else:
    print("the set is not empty")

the set is empty

###### 30. Create a nested set (hint: use frozenset).

In [1]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

nested_set = frozenset(set1),frozenset(set2)

print("nested set :", nested_set)

nested set : (frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10}))

31. Remove an element from a set using the discard method.

In [2]:
set1 = {1,2,3,4,5}

print("Actual set :",set1)

element_remove = 3

set1.discard(element_remove)

print("Set after removeing the element :",set1)

Actual set : {1, 2, 3, 4, 5}
Set after removeing the element : {1, 2, 4, 5}

32. Compare two sets.

In [4]:
s1 = {1,2,3,4,5}
s2 = {1,2,6,7,8}

is_subset = s1.issubset(s2)
is_superset = s1.issuperset(s2)

diffrence1 = s1.difference(s2)
diffrence2 = s2.difference(s1)

union = s1.union(s2)
intersection = s1.intersection(s2)

print("is s1 a subset of s2 ?",is_subset)
print("is s2  a subset os s1 ?",is_superset)
print("element is s1 but not in s2 :",diffrence1)
print("element is s1 but not in s2 :",diffrence2)
print("Union of s1 and s2 :",union)
print("Intersection of s1 and s2 :",intersection)

is s1 a subset of s2 ? False
is s2  a subset os s1 ? False
element is s1 but not in s2 : {3, 4, 5}
element is s1 but not in s2 : {8, 6, 7}
Union of s1 and s2 : {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of s1 and s2 : {1, 2}

33. Create a set from a string.

In [7]:
string_input = input("enter a word !")

char_set = set(string_input)

print(char_set)

enter a word ! cock

{'o', 'c', 'k'}

34. Convert a set of strings to a set of integers.

In [10]:
org_set = {"123","456","789"}

final_set = set()

for i in org_set:
    integer = int(i)
    final_set.add(integer)
print("Orignal set :",org_set)
print("After Conversion to intiger :",final_set)

Orignal set : {'789', '123', '456'}
After Conversion to intiger : {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [11]:
org_set = {123,456,789}

final_set = set()

for i in org_set:
    string = str(i)
    final_set.add(string)

print("Orignal set :",org_set)
print("After Conversion to intiger :",final_set)

Orignal set : {456, 123, 789}
After Conversion to intiger : {'789', '123', '456'}

36. Create a set from a tuple.

In [12]:
tuple_in = (1,2,3,4,5)

convert = set(tuple_in)

print("Orignal Tuple :",tuple_in)
print("Conersted to set :",convert)

Orignal Tuple : (1, 2, 3, 4, 5)
Conersted to set : {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [13]:
set_my = {1,2,3,4,5}

convert = tuple(set_my)

print("Orignal set :",set_my)
print("set after converted to tuple :",convert)

Orignal set : {1, 2, 3, 4, 5}
set after converted to tuple : (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [1]:
my_set = {1,2,3,4,5}

maximum = None

for num in my_set:
    if maximum is None or num > maximum:
        maximum = num
        
print("Maximum value in my set is:",maximum)

Maximum value in my set is: 5

39. Find the minimum value in a set.

In [2]:
my_set = {1,2,3,4,5}

minimum = None

for num in my_set:
    if minimum is None or num < minimum:
        minimum = num
        
print("Maximum value in my set is:",minimum)

Maximum value in my set is: 1

40. Create a set from user input.

In [4]:
user_input = input("Enter a input to create a set")

re = set(user_input)

print("Set by using user input :",re)

Enter a input to create a set 123

Set by using user input : {'3', '1', '2'}

In [7]:
us = set()

print ("enter a element to add in a set and enter done when it is finished")

while True:
    user_input = input("-- ")
    
    if user_input.lower() == 'done':
        break
        
    us.add(user_input)
print(us)

enter a element to add in a set and enter done when it is finished

--  hello
--  shreya
--  i love u
--  done

{'hello', 'shreya', 'i love u'}


41. Check if the intersection of two sets is empty.

In [9]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}

intersection = s1.intersection(s2)

if not intersection  :
    print("the set is empty intersection")
    
else:
    print("the set is not empty intersection")

the set is empty intersection

42. Create a set of the first 5 Fibonacci numbers.

In [10]:
fiboacci_set = set()

a,b = 0,1

for i in range(6):
    fiboacci_set.add(a)
    
    a,b =b,a+b
    
print("the 5 fibonacci numbers are :",fiboacci_set)

the 5 fibonacci numbers are : {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [13]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

unique_set = set(original_list)

re =list( unique_set)

print("Orignal list",original_list)
print("After remove duplicate from a list using set is :",re)

Orignal list [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
After remove duplicate from a list using set is : [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [18]:
def same_elements (set1,set2):
    sorted_set1 = sorted(list(set1))
    sorted_set2 = sorted(list(set2))
    return sorted_set1 == sorted_set2

#example :

s1 = {1,2,4,1,2}
s2 = {1,2,4}
re =same_elements(s1,s2)

if re:
    print("Two set have the smae elements")
    
else:
    print("it do not have same elements")

Two set have the smae elements

45. Create a set of the first `n` powers of 2.

In [20]:
def calling_power(n):
    
    power_of_2 = set()
    
    for i in range(n):
        power = 2**i
        
        power_of_2.add(power)
        
    return power_of_2

#example:

re = calling_power(5)

print(re)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [21]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

list_set = set(my_list)

common_el = []

for i in my_set:
    if i in list_set:
        common_el.append(i)
    
print(common_el)

[7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [22]:
def triangular_number(n):
    tri_num = set()
    for i in range(1,n+1):
        triangular_number = i * (i + 1) // 2
        tri_num.add(triangular_number)
    return tri_num

n  = 6

re = triangular_number(n)
print(re)

{1, 3, 6, 10, 15, 21}

48. Check if a set contains another set as a subset.

In [24]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not  a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [25]:
def alternate(n):
    free_set =set()
    for i in range(n):
        if i%2 == 0:
            free_set.add(1)
        else:
            free_set.add(0)
    return free_set

n = 4
re = alternate(n)
print(re)

{0, 1}

50. Merge multiple sets into one.

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2,set3)

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}

#Prabhendra
##Data Science Pro
###p786solot@gmail.com