#Assignment Questions
#For Loop

#Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9]
total_sum = 0
for i in l1:
  total_sum += i
print(f"The total sum of list l1 is ",total_sum)

The total sum of list l1 is  45

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
s1 = "WabiSabi"
for i in s1:
  i = s1[::-1]
print(i)

ibaSibaW

In [ ]:

for i in range(1,1):
  print(i)

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
FactoInput = int(input("Enter a number to find it's Factorial "))

if FactoInput < 0:
  print("Facotial is not defined for negative intigers")
facto = 1
for i in range(1,FactoInput + 1):
  facto *= i
print(F"The Factorial of the {FactoInput} is {facto}")

Enter a number to find it's Factorial 1
The Factorial of the 1 is 1

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
Multipilcation_Input = int(input("Enter a number to print its multipilcation table "))

for i in range(1,11):
  i = Multipilcation_Input * i
  print(i)

Enter a number to print its multipilcation table 7
7
14
21
28
35
42
49
56
63
70

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
l1 = [2,3,4,5,6,7,8]

even_count = 0
odd_count = 0


for i in l1:
  if i%2 == 0:
    even_count += 1
  else:
    odd_count += 1

print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  4
Odd numbers in the list:  3

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  i = i**2
  print(i)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
s1 = "WabiSabi"

count = 0

for i in s1:
  count += 1
print(count)

8

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
l1 = [1,3]

total_sum = 0
count = 0

for i in l1:
  total_sum += i
  count += 1
  avg = total_sum/count
print(avg)

2.0

10. Develop a program that prints the first `n` Fibonacci numbers using

a `for` loop.

---

In [ ]:
FabInput = int(input("Enter a Positive intiger to get the Fibonacci Series "))

a = 0
b = 1

if FabInput <= 0:
  print("Please Enter a Positive number")

elif FabInput == 1:
  print(0)
else:
  print(a)
  print(b)

  for i in range(2,FabInput):
    c= a+b
    a = b
    b = c
    print(c)

Enter a Positive intiger to get the Fibonacci Series 2
0
1

#Intermediate Level:

\11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
l1 =[1,2,3,4,5]
l2 = []

show = False

for i in l1:
  if i in l2:
    show =True
    break
  l2.append(i)

if show:
  print("List contains duplicates")
else:
  print("List does not contain duplicates")

List does not contain duplicates

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
start = 9
end =52

for num in range(start,end + 1):
  is_prime = True
  for i in range(2,int(num**0.5)+1):
    if num%i==0:
      is_prime = False
      break
  if is_prime and num>1:
    print(num)

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
input_string = input("enter a string: ")

vowels_count = 0
vowels_data = ""
vowels = "aeiouAEIOU"

for i in input_string:
  if i in vowels:
    vowels_count +=1
    vowels_data += i
print(f"Vowel count in input string is: {vowels_count} i.e {vowels_data}")

enter a string: Shreya i Love u
Vowel count in input string is: 6 i.e eaioeu

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:

two_d_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

max_value = float('-inf')

for i in two_d_list:
  for element in i:
    if element > max_value:
      max_value = element

print(f"The maximum element in the 2D list is: {max_value}")

The maximum element in the 2D list is: 9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
my_lst = [1,2,5,2,3,7,8,3,2]
remove_elements = 2
new_lst = []
for i in my_lst:
  if i != remove_elements:
    new_lst.append(i)
print(f"The new list after removing elements {remove_elements} list is {new_lst}")

The new list after removing elements 2 list is [1, 5, 3, 7, 8, 3]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    product = i*j
    print(f"{i} * {j} = {product}")
  print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.\

In [ ]:
Fahrenheit_temp =  [2,53,78,105]
celsius_temp = []

for i in Fahrenheit_temp:
  celsius = (i - 32) * 5/9
  celsius_temp.append(celsius)
print(f"The temperature in celsius is {celsius_temp}")

The temperature in celsius is [-16.666666666666668, 11.666666666666666, 25.555555555555557, 40.55555555555556]

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
l1 = [2,4,6,9,8,5]
l2 = [1,4,3,6,2,8]
l3=[]
for i in l1:
  if i in l2:
    l3.append(i)
print(l3)

[2, 4, 6, 8]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
for i in range(1,6):
  for j in range(i):
    print("*",end="  ")
  print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
num1 = int(input("Enter a number "))
num2 = int(input("Enter second number "))

gcd = 1
min_num = min(num1,num2)
for i in range(1,min_num+1):
  if num1%i==0 and num2 %i==0:
   gcd =i
print("The GCD of", num1, "and", num2, "is:", gcd)

Enter a number 8
Enter second number 9
The GCD of 8 and 9 is: 1

#Advanced Level:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
numbers = [123, 45, 678, 9]
digit_sum = [sum(int(digit) for digit in str(i) )for i in numbers]
print(digit_sum)

[6, 9, 21, 9]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
def is_prime(n):
  return all(n % i != 0 for i in range(2,int(n**0.5) + 1))

def prime_factors(n):
  return [i for i in range(2,n+1) if n % i == 0 and is_prime(i)]

n= 60
print(is_prime(n))
print(prime_factors(n))

False
[2, 3, 5]

23. Develop a program that extracts unique elements from a list and stores them
in a new list using a list
comprehension.

In [ ]:
non_unique_number = [2,3,4,5,6,7,3,4,5]
unique_number = []

[unique_number.append(i) for i in non_unique_number if i not in unique_number]

print("Orignal list",non_unique_number)
print("Unique list",unique_number)

Orignal list [2, 3, 4, 5, 6, 7, 3, 4, 5]
Unique list [2, 3, 4, 5, 6, 7]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [ ]:
def is_palindrome(n):
  return str(n) == str(n)[::-1]

limit = 100
palindromic_numbers = [i for i in range(limit+1) if is_palindrome(i)]

print(palindromic_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
flattened_list = [item for sublist  in nested_list for item in sublist]

print('Previous list', nested_list)
print('new_list', flattened_list)

Previous list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list [1, 2, 3, 4, 5, 6, 7, 8, 9]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]

even_numbers = [i for i in numbers if i % 2 == 0]

odd_numbers = [i for i in numbers if i % 2 != 0]

sum_odd = sum(odd_numbers)
sum_even = sum(even_numbers)

print(sum_even)
print(sum_odd)

20
25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

odd_numbers = [i for i in numbers if i % 2 != 0]

squares = [i**2 for i in odd_numbers]

print(squares)

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
keys = ['Name', 'age', 'city','Sex',"Love"]
values = ['Shreya', 25, 'Banglore',"Female","Radha"]

combined_dict = {keys[i] : values[i] for i in range(len(keys))}

print(combined_dict)

{'Name': 'Shreya', 'age': 25, 'city': 'Banglore', 'Sex': 'Female', 'Love': 'Radha'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
string = "Shreya Prabhendra"

vowels = [i for i in string if i in "aeiouAEIOU"]

print(vowels)

['e', 'a', 'a', 'e', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension

In [ ]:
example = "a2df4","fm8f038"

extracting_numbers = ["".join([char for char in i if char.isdigit()]) for i in example]

print(extracting_numbers)

['24', '8038']

#Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [ ]:
def Sieve_Eratosthenes(limit):
  is_prime = [True] * (limit + 1)

  p =2

  while (p*p <= limit):
    if is_prime[p]:
      for i in range(p*p,limit+1,p):
        is_prime[i] = False
    p += 1
  prime_numbers = [p for p in range(2,limit+1) if is_prime[p]]
  return prime_numbers

limit = 50
print(Sieve_Eratosthenes(limit))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension

In [ ]:
def Pythagorean_triplets(limit):
  return [(a,b,c) for a in range(1,limit+1) for b in range(a,limit+1) for c in range(b,limit+1) if a*a + b*b == c*c]

limit =30
print(Pythagorean_triplets(limit))

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (18, 24, 30), (20, 21, 29)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:
list1 = [1,2,3]
list2 = ["a","b","c"]

combinations = [(x,y) for x in list1 for y in list2 ]

print(combinations)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [ ]:
from collections import Counter

numbers = [1,2,3,3,4,5,5,8,9,8,6]

mean = sum(numbers)/len(numbers)

sorted_numbers = sorted(numbers)
midpoint = len(sorted_numbers) // 2
median = (sorted_numbers[midpoint-1] + sorted_numbers[midpoint]) / 2 if len(numbers) % 2 ==0 else sorted_numbers[midpoint]


frequency = Counter(numbers)
max_count = max(frequency.values())
mode = [num for num, count in frequency.items() if count == max_count]

print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Mode: {mode}")

Mean: 4.909090909090909
Median: 5
Mode: [3, 5, 8]

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [ ]:
def pascal_triangle(num_rows):
  triangle = [[1]]
  for i in range(1,num_rows):
    row = [1] + [triangle[i-1][j-1] + triangle[i-1][j] for j in range(1,i)] + [1]
    triangle.append(row)
  return triangle

num_rows = 6
for row in pascal_triangle(num_rows):
  print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [ ]:
import math

def factorials(n):
  return sum(int(digit) for digit in str(n))

factorial_sum = [factorials(math.factorial(i)) for i in range(1,6)]

print(factorial_sum)

[1, 2, 6, 6, 3]

37. Write a program that finds the longest word in a sentence using list comprehension.

In [ ]:
def longesgt_word(sentence):
  words = sentence.split()
  longest = max(words,key=len)
  return longest

sentence = " no love if you not love "
longest = longesgt_word(sentence)
print(longest)

love

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [ ]:
def sum_of_digit(number):
  return sum(int(digit) for digit in str(number))

digit_sum = [sum_of_digit(i) for i in range(1,1000)]

total_sum = sum(digit_sum)
print(total_sum)

13500

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [14]:
def is_prime(n):
  if n<= 1:
    return False
  for i in range(2,int(n**0.5)+1):
    if n % i == 0:
      return False
    return True

def is_palindrome(n):
  return str(n) == str(n)[::-1]

limit = 500
prime_palindromic_numbers =  [n for n in range(11,limit) if is_prime(n) and is_palindrome(n)]

print(prime_palindromic_numbers)

[11, 33, 55, 77, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393]



Prabhendra Singh
- p786solot@gmail.com
- Full Stack Data Science Pro
# The End